.street{
	fill: none;
	stroke: $lime;
}  

.trips{
}

.trip{
	fill: none;
	stroke: rgba($red, 0.1);
	stroke-width: 20px;
}

.car{
	// To test overlapping trips
	// fill: rgba($blue, 0.5);
	fill: $blue;
	stroke: none;
}

.active{
	fill: $red;
	stroke: none;
}

.debug{
	fill: none;
	stroke: red;
	stroke-width: 20px;
}