#streets{
	.street{
		stroke: $lime;
	} 
}

#trips{
	.trip{
		stroke: rgba($red, 0.1);
		stroke-width: 1rem;
	}
}

#highlight{
	.highlight{
		stroke: $lime;
	}
}

#cars{
	.car{
		fill: $blue;
		stroke: rgba($blue, 0);
		stroke-width: 5rem;
	}
}

.street, .trip, .highlight{
	fill: none;
	stroke-linecap: round;
}